<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarDealz | Show Car</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CarDealz </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('dashboard')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('user_purchases')}}">My Purchases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('logout')}}">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="col-10 container text-center">
        <div class=" d-flex justify-content-end mb-4">
            <a class="btn btn-info mt-4 " href="{{url_for('user_purchases')}}" role="button">My Purchases</a>
            <a class="btn btn-info mt-4 ms-2" href="{{url_for('dashboard')}}" role="button">Home</a>
            <a class="btn btn-info mt-4 ms-2" href="{{url_for('logout')}}" role="button">Logout</a>
        </div>
        <div class="container col-10 border border-3">
            <table class="table mt-3 table-info table-borderless">
                <tbody>
                    <tr>
                        <th scope="row"> Price</th>
                        <td>{{car.price}}</td>
                    </tr>
                    <tr>
                        <th scope="row"> Model</th>
                        <td>{{car.model}}</td>
                    </tr>
                    <tr>
                        <th scope="row"> Make</th>
                        <td>{{car.make}}</td>
                    </tr>
                    <tr>
                        <th scope="row"> Year</th>
                        <td>{{car.year}}</td>
                    </tr>
                    <tr>
                        <th scope="row"> Description</th>
                        <td>{{car.description}}</td>
                    </tr>
                    <tr>
                        <th scope="row"> Seller</th>
                        <td>{{car_owner_info[0].get('fname')}} {{car_owner_info[0].get('lname')}}</td>

                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" d-flex justify-content-center mt-4">
            <a class="btn btn-info m-2" href="{{url_for('purchase',car_id=car.id)}}" role="button">Purchase</a>
        </div>

    </div>
    </main>
